<footer class="livraria-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Magic<span>Books</span></h3>
      <p>Sua próxima aventura começa aqui.</p>
    </div>

    <div class="footer-links">
      <a href="#">Privacidade</a>
      <a href="#">Termos de Uso</a>
      <a href="#">Contato</a>
    </div>

    <div class="footer-social">
      <lucide-icon [name]="InstagramIcon" class="social-icon"></lucide-icon>
      <lucide-icon [name]="FacebookIcon" class="social-icon"></lucide-icon>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 MagicBooks - Todos os direitos reservados.</p>
  </div>
</footer>
