@use "../../../styles.scss" as global;

:host {
  display: block;
  width: 100%;
  margin-top: auto; // O "pulo do gato" para o Flexbox empurrar o footer para baixo
}

.livraria-footer {
  background-color: #212121; // Cinza quase preto
  color: #bdbdbd; // Cinza claro para o texto
  padding: 2rem 5% 1rem;
  border-top: 1px solid #424242;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .footer-section {
    h3 {
      color: #eeeeee;
      margin-bottom: 10px;
      span { font-weight: 300; }
    }
  }

  .footer-links {
    display: flex;
    gap: 20px;
    a {
      color: #9e9e9e;
      text-decoration: none;
      font-size: 0.9rem;
      &:hover { color: white; }
    }
  }

  .footer-social {
    display: flex;
    gap: 15px;
    .social-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:hover { color: global.$cor-secundaria; } // Toque de cor no hover
    }
  }

  .footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 1rem;
    font-size: 0.8rem;
  }
}
