$cor-primaria: #D32F2F;
$cor-secundaria: #FF6D00;
$cor-acento: #6A1B9A;
$cor-texto-claro: #FFFFFF;
$cor-texto-escuro: #3a3939;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
}
